body,
html {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  background-color: ghostwhite;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif;
  line-height: 1.2;
  word-break: keep-all;
  cursor: default;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* min-height: 100vh; */
}

::-webkit-details-marker {
  display: none;
}

.toggle {
  cursor: pointer;
  font-weight: bold;
  margin-left: 10vw;
  margin-right: 10vw;
  border-bottom: 1px solid lightgray;
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
}

.toggle:hover {
  margin-left: 0;
  margin-right: 0;
}

img {
  flex: 0 0 auto;
  height: 10em;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}

img:hover {
  transform: scale(2.0);
  -webkit-transform: scale(2.25); /* this is over zoom size */
  -moz-transform: scale(2.0);
  -ms-transform: scale(2.0);
  -o-transform: scale(2.0);
  cursor: crosshair;
}

.iframebox {
  position: relative;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgoldenrodyellow;
}

a {
  z-index: 9999;
}

a:link {
  color: ghostwhite;
  background-color: black;
  text-decoration: none;
}

a:visited {
  color: ghostwhite;
  background-color: black;
  text-decoration: none;
}

a:hover {
  color: ghostwhite;
  background-color: black;
  text-decoration: none;
}

a:active {
  color: ghostwhite;
  background-color: black;
  text-decoration: none;
}

::-moz-selection {
  background: lightgray;
}

::selection {
  background: lightgray;
}

.container {
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6em;
}

.header {
  font-size: 3.5em;
  margin-left: 12px;
  position: fixed;
  mix-blend-mode: difference;
  color: lightgoldenrodyellow;
  z-index: 999;
  cursor: pointer;
}

.line {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray;
  padding: 5px 0px 5px 0px;
  font-size: 1em;
}

.list {
  list-style: none;
  font-size: 0.8em;
  margin-bottom: 3vw;
  font-family: "Gill Sans", sans-serif;
}

.logo {
  height: 1em;
  filter: invert(100%);
}

.text {
  width: 70%;
  text-align: justify;
  font-size: 0.8em;
  margin-bottom: 3vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Gill Sans", sans-serif;
}

.gallery {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3vw;
}

.iso {
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 3vw;
}

.midi {
  margin-bottom: 3vw;
  z-index: -9;
}

.videotext {
  width: 100%;
  text-align: justify;
  font-size: 0.8em;
  margin-bottom: 3vw;
  font-family: "Gill Sans", sans-serif;
}

.audio {
  width: 60vw;
  min-width: 350px;
}

.subfolder,
.black {
  color: ghostwhite;
  background-color: black;
  margin-bottom: 3vw;
}


.gradation {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 15px;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

/* New gallery-style iframe */
.mgallery-iframe {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  display: inline-block;
  vertical-align: top;
}

.mgallery-iframe iframe {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  position: relative; /* Override the absolute positioning */
  background-color: lightgoldenrodyellow;
}
.vimeo-container {
  position: relative;
  width: 640px;
  height: 360px;
  max-width: 100%;
  margin: 0 auto;
}

.vimeo-container iframe {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
